{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'parts/nav_admin.html' %} 


<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
  
    h1 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
  
    th,
    td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ccc;
    }
  
    th {
      background-color: #1B9AAA;
      color: white;
    }
  
    tbody tr:hover {
      background-color: #B0E0E6;
    }
  
    button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 6px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
    }
  
    button:hover {
      background-color: #45a049;
    }
  </style>
  
  <h1>Liste des étudiants</h1>
  
  <table class="table table-hover">
    <thread>
      <tr>
        <th scope="col">CNE</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Sexe</th>
        <th scope="col">Tel</th>
        <th scope="col">Email</th>
        <th scope="col">Adresse</th>
        <th scope="col">Année Bac</th>
        <th scope="col">Parcours</th>
        <th scope="col">Option</th>
      </tr>
    </thread>
    <br>
    <tbody>
      {% comment %} Affichage d'informations sur tous les étudiants {% endcomment %}
      {% for etudiant in etudiants %}
      <tr>
        <th scope="row">{{ etudiant.CNE }}</th>
        <td>{{ etudiant.nom }}</td>
        <td>{{ etudiant.prenom }}</td>
        <td>{{ etudiant.sexe }}</td>
        <td>{{ etudiant.tel }}</td>
        <td>{{ etudiant.email }}</td>
        <td>{{ etudiant.adresse }}</td>
        <td>{{ etudiant.annee_Bac }}</td>
        <td>{{ etudiant.parcours }}</td>
        <td>{{ etudiant.code_Option }}</td>
      </tr>
      <br>
      {% endfor %}
    </tbody>
  </table>
     

<br>
{% endblock content %}