{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5">
  <h2 class="text-center alert alert-primary">Ajout filière</h2>
  <form action="" method="POST">
      {% csrf_token %} 

      <div class="form-row">
          
          <div class="col">
              {{opt}}
          </div>
      </div>
      <div class="form-row mt-3">
          <div class="col ml-auto text-right ">
              <input type="submit" value="Ajouter" class="btn btn-primary">
          </div>
      </div>
  </form>
</div>


{% endblock content %}