{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Liste des étudiants a accepter </h1>
<table>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
  
    h1 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
  
    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }
  
    th {
      background-color: #1B9AAA;
      color: white;
    }
  
    tbody tr:hover {
      background-color: #B0E0E6;
    }
  
    button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 6px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
    }
  
    button:hover {
      background-color: #45a049;
    }
  </style>
  

    <thead>
      <tr class="header-row">
        <th>CNE</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Sexe</th>
        <th>Tel</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Année Bac</th>
        <th>Parcours</th>
        <th>Code Option</th>
        <th>Transfer</th>
      </tr>
    </thead>
    <tbody>
      {% for etudiant_inscription in etudiant_inscriptions %}
      <tr>
        <td>{{ etudiant_inscription.CNE }}</td>
        <td>{{ etudiant_inscription.nom }}</td>
        <td>{{ etudiant_inscription.prenom }}</td>
        <td>{{ etudiant_inscription.sexe }}</td>
        <td>{{ etudiant_inscription.tel }}</td>
        <td>{{ etudiant_inscription.email }}</td>
        <td>{{ etudiant_inscription.adresse }}</td>
        <td>{{ etudiant_inscription.annee_Bac }}</td>
        <td>{{ etudiant_inscription.parcours }}</td>
        <td>{{ etudiant_inscription.code_Option }}</td>
        <td>
          <form action="{% url 'Acceptation_etudiant' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="cne" value="{{ etudiant_inscription.CNE }}">
            <button type="submit">Accepter</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock content %}
