 <br>
{% comment %} <span><a href="{% url 'Ajout_Etud' %}">Ajout_Etud</a></span> 

<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<a href="admin" class="btn btn-primary mb-2">admin</a>
<br>
<a href="Ajout_Etud" class="btn btn-primary mb-2">Ajout_Etud</a>
<a href="Ajout_Etud_admin" class="btn btn-primary mb-2">Ajout_Etud_admin</a>
<a href="Etud_info" class="btn btn-primary mb-2">Etud_info</a>
<a href="Etud" class="btn btn-primary mb-2">Etud</a>
<a href="Supp_Etud" class="btn btn-primary mb-2">Supp_Etud</a>
<a href="Modif_Etud" class="btn btn-primary mb-2">Modif_Etud</a>
<a href="etudiant_inscription_list" class="btn btn-primary mb-2">etudiant_inscription_list</a>
<br>
<a href="Ajout_Ens" class="btn btn-primary mb-2">Ajout_Ens</a>
<a href="Ens_info" class="btn btn-primary mb-2">Ens_info</a>
<a href="Ens_infos" class="btn btn-primary mb-2">Ens_infos</a>
<a href="Ens" class="btn btn-primary mb-2">Ens</a>
<a href="Modif_Ens" class="btn btn-primary mb-2">Modif_Ens</a>
<a href="Supp_Ens" class="btn btn-primary mb-2">Supp_Ens</a>
<a href="enseignant_recrutement_list" class="btn btn-primary mb-2">enseignant_recrutement_list</a>
<br>
<a href="Secretaire" class="btn btn-primary mb-2">Secretaire</a>
<br>
<a href="Ajout_Filiere" class="btn btn-primary mb-2">Ajout_Filiere</a>


<a href="login" class="btn btn-primary mb-2">log</a> {% endcomment %}
